@use "../../../styles/freamwork.scss";

.add-families {
    padding-bottom: 30px;

    form {
        margin-top: 25px;

        .other {
            margin-top: 0px !important;
        }

        .add-btn {
            margin-top: 20px;
            border: 1px solid var(--main_color);
            background-color: transparent;
            color: var(--main_color);
            font-size: 16px;
            padding: 7px 25px;
            border-radius: 15px;
            cursor: pointer;
            width: 180px;
        }

        .submit {
            display: block;
            margin-inline: auto;
            margin-block: 20px;
            background-color: var(--main_color);
            border: none;
            color: #FFF;
            font-size: 17px;
            padding: 8px 0;
            width: 150px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}