.box-inputs {
    background-color: #f3f3f360;
    margin-top: 30px;


    .title-data {
        background-color: var(--main_color);
        color: #FFF;
        padding: 10px;
        text-align: center;
        border-radius: 15px 15px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        button {
            border: none;
            outline: none;
            font-size: 18px;
            background-color: transparent;
            color: #FFF;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .inputs {
        padding-block: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        padding-inline: 10px;

        .input-group {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >div,
            >input {
                height: 38px;
                border-radius: 5px;
            }

            >input {
                padding-inline: 10px;
                border: 1px solid #CCC;
                outline: none;
                transition: all 0.3s;
                font-size: 16px;

                &:focus {
                    border-color: #2684FF;
                    box-shadow: 0 0 0px 1px #2684FF;
                }

                &::placeholder {
                    font-size: 16px;
                }
            }
        }
    }

    .files {
        margin-block: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .main-image {
            position: relative;
            width: 200px;

            h4 {
                text-align: center;
                margin-bottom: 10px;
            }

            label {
                width: 100%;
                height: 150px;
                border: 1px solid #DDD;
                cursor: pointer;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 8px;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .remove-image {
                position: absolute;
                top: 5px;
                right: 8px;
                background: brown;
                border: none;
                padding: 4px;
                border-radius: 4px;
                cursor: pointer;
                color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
            }
        }
    }
}