.file-box {
    border: 2px dashed #CCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: auto;
    height: 150px;
    width: 270px;
    padding: 20px 20px;
    color: var(--main_color);
    flex-direction: column;
    gap: 10px;
    font-size: 15px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    label {
        cursor: pointer;

        >p {
            display: flex;
            align-items: center;
            font-size: 30px;
        }
    }

    >div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        white-space: nowrap;

        div {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 130px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: red;
            }
        }
    }
}