@use "../../../styles/freamwork.scss";

.all-families {
    .search {
        margin-block: 25px;
        @extend %flex-center-center;

        form {
            @extend %flex-center-center;
            border: 1px solid var(--main_color);
            max-width: 400px;
            width: 100%;
            padding: 10px 20px;
            gap: 10px;
            border-radius: 20px;

            input {
                border: none;
                outline: none;
                font-size: 16px;
                width: 100%;
            }

            button {
                @extend %flex-center;
                font-size: 18px;
                border: none;
                background-color: transparent;
            }
        }
    }

    .table {
        border-radius: 10px;

        .location {
            color: var(--main_color);
            text-decoration: underline
        }
    }
}