%flex-center {
    display: flex;
    align-items: center;
}

%flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}