@use "../../../styles/freamwork.scss";

.qualifications {
    .form {
        margin-top: 40px;
        max-width: 800px;
        width: 100%;
        margin-inline: auto;
        @extend %flex-center-center;
        flex-direction: column;

        >h3 {
            text-align: center;
            color: #333;
            margin-bottom: 15px;
            font-size: 24px
        }

        form {
            @extend %flex-center-center;
            width: 100%;
            gap: 10px;

            input {
                height: 38px;
                border-radius: 0 15px 15px 0;
                padding-inline: 10px;
                border: 1px solid #CCC;
                outline: none;
                transition: all 0.3s;
                font-size: 16px;
                width: 350px;

                &:focus {
                    border-color: #2684FF;
                    box-shadow: 0 0 0px 1px #2684FF;
                }

                &::placeholder {
                    font-size: 16px;
                }
            }

            button {
                display: block;
                background-color: var(--main_color);
                border: none;
                color: #FFF;
                font-size: 17px;
                height: 38px;
                width: 100px;
                border-radius: 15px 0 0 15px;
                cursor: pointer;
            }
        }
    }

    .table {
        margin-top: 30px;
        max-width: 600px;
        width: 100%;
        margin-inline: auto;
    }
}

@media (max-width: 600px) {
    .qualifications {
        .form {
            form {
                input {
                    width: 250px;
                }
            }
        }
    }
}