.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid var(--main_color);
    height: 70px;
    padding-inline: 20px;

    button {
        border: none;
        background-color: var(--main_color);
        color: #FFF;
        font-size: 16px;
        padding: 7px 25px;
        border-radius: 15px;
        cursor: pointer;

        &:first-of-type {
            padding: 10px;
            display: none;
            align-items: center;
            justify-content: center;
        }
    }

    h3 {
        flex: 1;
    }
}

@media (max-width: 991px) {
    .header {
        button:first-of-type {
            display: flex;
        }

        h3 {
            font-size: 15px;
        }
    }
}